.status {
  display: flex;
  align-items: baseline;
}

.Alive {
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #46E446;
  margin-right: 5px;
}

.Dead {
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #E45C46;
  margin-right: 5px;
}

.unknown {
  width: 13px;
  height: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #AFAEAE;
  margin-right: 5px;
}